:root {
  --accent: hsl(160, 84%, 39%);
  --blackish: hsl(0, 0%, 10%);
  --dark: hsl(215, 30%, 17%);
  --medium: hsl(215, 30%, 22%);
  --bright: hsl(0, 0%, 85%);
}

* {
  transition: 0.1s;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--blackish);
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dark);
  width: 550px;
  aspect-ratio: 1;
  box-sizing: border-box;
  padding: 0px 50px;
  border: solid 5px var(--bright);
  border-radius: 25px;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 15px;
}

span,
label {
  color: var(--accent);
}

label {
  background-color: var(--medium);
  text-align: center;
  border-radius: 25px;
  padding: 15px;
  width: 40%;
}

p {
  font-size: 20px;
  color: var(--bright);
  margin-bottom: 50px;
}

input {
  background: none;
  border: none;
  color: white;
  font-size: inherit;
  text-align: center;
  width: 3em;
  padding: 0;
  outline: none;
  cursor: default;
  margin: -2px 0;
}

button {
  background-color: var(--accent);
  color: white;
  font-size: inherit;
  border: none;
  border-radius: 25px;
  padding: 15px;
  /* border: 3px solid var(--accent); */
  cursor: pointer;
  box-sizing: content-box;
  width: 40%;
  line-height: 1;
}

button:hover {
  /* border: 3px solid var(--accent); */
  background-color: var(--medium);
  color: var(--accent);
}

button:active {
  color: white;
  /* border: 3px solid var(--medium); */
  background-color: var(--accent);
}

hr {
  border: solid 1px var(--medium);
  margin: 33px 0;
}

section {
  display: flex;
  justify-content: space-between;
}

section span {
  background-color: var(--medium);
  text-align: center;
  border-radius: 25px;
  padding: 15px;
  width: 40%;
  cursor: grab;
}

section span:empty::before {
  content: "";
  display: inline-block;
}

.copy-text {
  position: relative;
}

.copy-text::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--bright);
  opacity: 0;
  transition: opacity 0.3s;
  width: 76%;
  pointer-events: none;
  /* background-color: var(--blackish);
  border-radius: 5px;
  padding: 15px; */
}

.copy-text:hover::after {
  opacity: 1;
}
